.title > p{
    font-family: 'Creepster', cursive;
    text-align: center;
    font-size: 100px;
    margin: 0;
}
#to-do > p{
    font-family: 'Creepster', cursive;
    text-align: center;
    font-size: 30px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul > li {
    margin: 5px;
    mask-repeat: no-repeat;
    padding-left: 10px;
    /* text-indent: 0; */
}
ul > li > .complete {
    text-decoration: line-through;
    color: #ddd;
}
body {
    background-color:blue;
}
#to-do {
    width: 800px;
    margin: 0 auto;
}
.title {
    font-size: 30px;
}
.col-6{
    /* background-color: aquamarine; */
    margin-left: 200px;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    margin-bottom: 10px;
}